/*
Theme Name: Wordpress Theme Shop Framework
Description: Wordpress theme woocommerce.
Author URI: http://www.hoangweb.com/
Version: 1.0.0
Tags: theme-options
Text Domain: RT
License: GPL-2.0+
License URI: http://www.opensource.org/licenses/gpl-license.php
*/
/* # Table of Contents
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Header Navigation
	- Primary Navigation
	- Secondary Navigation
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Sidebars
- Widgets
	- Featured Content
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Footer Widgets
- Site Footer
*/


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,vietnamese);
* {
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust:none;
}
body {
    margin: 0px;
    padding: 0px;
    outline : none;
}
div.clear {clear: both}
a {text-decoration: none}
img {
	max-width:100%;
	height: auto;
	border:none;
}
a:hover, a:active, a:focus, li:hover, .transit{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
li {
	list-style: none;
}
.widget_nav_menu ul {
	margin: 0;
	padding: 0;
}

/* ------------------Start Here --------------------------*/

/* Structure and Layout 
--------------------------------------------------- */
.site-container {
	margin: 0 auto;
	width: 100%;
	position: relative;
}
.site-inner {
    clear: both;
    background: #fff;
    padding-top: 109px;
}
.content-sidebar-wrap {
	padding: 15px 0;
	position: relative;
}
.content-sidebar-wrap, .wrap{
	width: 1170px;
	margin: auto;
	position: relative;
}	
.content-sidebar-wrap:after, .wrap:after {
	content: '';
	display: block;
	clear: both;
}
/* Site Header
--------------------------------------------------- */
.site-header {
    border-bottom: 4px solid #24ac84;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
}
.site-title {
	position: absolute;
	text-indent: -9999px;
}
.site-header .imgbanner {
	display: block;
	line-height: 0;
}
.site-header .imgbanner img {
	height: auto;
}

.header-logo{
    float: left;
    width: 25%;
    margin-top: 20px;
}
.header-content{
    float: right;
    padding-top: 0;
}
.header-content .img-qc{
 padding: 20px 0;
}
#flags {
    width: auto !important;
    position: absolute;
    top: 5px;
    right: 0;
}
/* Site Navigation
--------------------------------------------------- */
.nav-primary,.header-content .widget_nav_menu {
	height: 35px;
	background: #3d3d3d;
	margin-top: 30px;
}
.nav-primary{
	display: none;
}
.nav-primary ul.menu,.header-content .widget_nav_menu ul.menu {
	margin: 0;
	padding: 0;
	background: #3d3d3d;
	/*float: right;*/
	border-radius: 5px 5px 0 0;
}
.nav-primary ul.menu li,.header-content .widget_nav_menu ul.menu li {
	float: left;
	list-style: none;
	position: relative;
}
.nav-primary li a,.header-content .widget_nav_menu li a {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 15px;
	margin: 0;
	padding: 0px 20px;
	line-height: 35px;
	position: relative;
	text-decoration: none;
	text-transform:uppercase;
	white-space: nowrap;
}
.header-content .widget_nav_menu li a span{
	font-size: 15px;
	font-weight: 600;
}
.nav-primary li:hover,.header-content .widget_nav_menu li:hover
.nav-primary .current_page_item , .header-content .widget_nav_menu .current_page_item,
.nav-primary .current-cat ,.header-content .widget_nav_menu .current-cat,
.nav-primary .current-menu-item,.header-content .widget_nav_menu .current-menu-item{
	color: #FFFFFF;
	background: #24ac84;
}

/* sub menutop lv 1 */
.nav-primary li li,.header-content .widget_nav_menu li li {
    background: #3d3d3d;
	width: 100%;
	border-top: rgba(255, 255, 255, 0.51) solid 1px;
	clear: both;
	padding: 0;
	margin-top: -15px;
	-moz-transition: opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	-webkit-transition: opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	-o-transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
}
.header-content .widget_nav_menu li li:hover{
	background: #24ac84;
}
.nav-primary li li a ,.header-content .widget_nav_menu li li a{
	color: #FFFFFF;
	font-size: 11px;
	line-height: 37px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	position: relative;
}
.header-content .widget_nav_menu li li a span{
	font-size: 13px;
}
.nav-primary li ul,.header-content .widget_nav_menu li ul {
	z-index: 9999;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	background: #222;
	width: 240px;
	opacity: 0;
	visibility: hidden;
	-moz-transition: opacity 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
	-webkit-transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
	-o-transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
	transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
}
.nav-primary li:hover>ul ,.header-content .widget_nav_menu li:hover > ul{
	opacity: 1;
	visibility: visible;
}
.nav-primary li:hover ul li ,.header-content .widget_nav_menu li:hover ul li{
	margin-top: 0;
    opacity: 1;
}

/* sub menutop lv 2 */
.nav-primary ul ul ul ,.header-content .widget_nav_menu ul ul ul{
	float: left;
    list-style: none;
    z-index: 9999;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 80%;
    top: 0px;
    background: #222;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -webkit-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -o-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
.nav-primary ul ul ul li ,.header-content .widget_nav_menu ul ul ul li{
	border: none;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 1;
}
.nav-primary ul ul li:hover ul ,.header-content .widget_nav_menu ul ul li:hover ul{
	opacity: 1;
    left: 100%;
    visibility: visible;
}

/* Search Form
--------------------------------------------------- */
#searchform, .search-form {
	overflow: hidden;
	padding: 2px;
	background: #fff;
	border-radius: 6px;
}
.search-form {
	position: absolute;
	z-index: 100;
	right: 10px;
	bottom: -32px;
}
#searchform label {
	display: none;
}
#searchform input[type=text], .search-form input[type=text], .search-form input[type=search] {
	float: left;
	width: 160px;
	border: none;
	height: 24px;
	padding: 2px 6px;
	font-size: 12px;
}
#searchform input[type=submit], .search-form input[type=submit] {
	float: left;
	width: 30px;
	height: 24px;
	border: none;
	text-indent: -9999px;
	background: url(images/btsearch.png) center no-repeat;
	cursor: pointer;
}

/* ### Wrapping div for .content and .sidebar-primary
--------------------------------------------------- */
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 980px;
}
.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
	width: 745px;
}

/* Sidebar
--------------------------------------------------- */
.sidebar {
	float: right;
    width: 290px;
}
.sidebar > section{
	display: none;
}
.sidebar-secondary {
	float: left;
	width: 235px;
}
.sidebar-content-sidebar .sidebar-primary {
	width: 235px;
}
.sidebar-content .sidebar-primary, .sidebar-sidebar-content .sidebar-primary {
	float: left;
}
.content-sidebar .sidebar-primary {

}
.sidebar .widget {
	margin-bottom: 20px;
	padding: 0;
}
.sidebar h4.widget-title {
	background: #F3612D;
	color: #FFF;
	font-size: 15px;
	display: none;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	height: 40px;
	line-height: 40px;
}
.sidebar ul, .sidebar ol, .sidebar-alt ul, .sidebar-alt ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar ul.menu li {

	position: relative;
}
.sidebar ul.menu li a {
	font-weight: 500;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 23px;
	color: #fff;
    padding: 10px 0px 10px 10px;
	display: block;
	text-decoration: none;
}
.sidebar ul.menu > li.menu-item-has-children > a:after{
    content: "\f107";
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
    font-family: "fontawesome";
    float: right;
}
.sidebar ul.menu > li > a{
	background: #3d3d3d;
	border-bottom: 1px solid #fff;
}
.sidebar ul.menu > li > ul > li > a{
	background: #dedede;
	border-bottom: 1px solid #fff;
	color: #333;
}
/*.sidebar ul.menu li a:before {
    font: normal normal normal 14px/1 FontAwesome;
	content: "\f0da";
	margin-right: 10px;
	color: #F3612D;
}*/

/* Submenu */
/*.sidebar ul.menu ul {
	position: absolute;
	left: 86%;
	width: 100%;
	top: 0;
	background: #fff;
	z-index: 9999;
	opacity: 0;
	border: #c5c5c5 solid 1px;
    visibility: hidden;
    -moz-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -webkit-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -o-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
.sidebar ul.menu li:hover > ul {
	opacity: 1;
    left: 100%;
    visibility: visible;
}*/
/* Widget Featuredpost */
.sidebar .featured-content article {
	margin: 0;
	padding: 5px 10px;
	overflow: hidden;
}
.sidebar .featured-content article  > a.alignleft {
    float: left;
    margin: 0 10px 0 0;
    display: block;
    line-height: 0;
}
.sidebar .featured-content article  > a.aligncenter {
	display: block;
	text-align: center;
	line-height: 0;
	padding-top: 5px;
}
.sidebar .featured-content article  > a.alignleft img {
	width: 65px;
	height: auto;
}
.sidebar .featured-content article .entry-header h2 {
	padding: 0;
	margin: 0;
}
.sidebar .featured-content article .entry-header h2 a {
	display: block;
    color: #333333;
    font-size: 13px;
    font-weight: 600;
}
/* Widget Product Slide */
.promoteslider {
	margin-top: 5px;
	padding-bottom: 10px;
}
.promoteslider ul {
	width: 100%;
	padding: 0;
}
.promoteslider .product-list.style-product-1 li {
	width: 100%;
	border: none;
	padding: 0;
}
.promoteslider .product-list.style-product-1 li .product-inner {
	padding-top: 10px;
}
.promoteslider .preview-slider {
	display: none;
}
/* Widget Count Per Day */
.cpd {
	padding: 10px 0px !important;
}
.cpd li {
	padding: 0px 10px !important;
}
.cpd-l, .cpd-r {
	color: #333333;
	font-size: 13px;
	font-weight: 600;
}

/* Slider
--------------------------------------------------- */
.metaslider {
	margin: 0 auto !important;
}

/* Content Area
--------------------------------------------------- */
.sidebar-content .content,
.sidebar-sidebar-content .content {
	float: right;
	width: calc(100% - 290px - 35px);
}
.content-sidebar .content,
.content-sidebar-sidebar .content {
	float: left;
	width: 745px;
}
.sidebar-content-sidebar .content {
	float: left;
	width: 490px;
}
.full-width-content .content {
	width: 100%;
}
/* Heading */
.heading, #related-post h3{
    color: #FFFFFF;
    font-weight: 600;
    background: url(images/heading.png)no-repeat;
    line-height: 40px;
    clear: both;
    font-size: 17px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    padding-left: 45px;
}
.heading-title-archive{
    background: #eeeff1;
    border-left: 5px solid #24ac84;
    line-height: 45px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding-left: 25px;
    margin: 0 0 25px 0;

}
.heading a, .heading span {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 600;
	line-height: 40px;
}
.heading a:hover {
	text-decoration: underline;
}
.content .entry-title {
    color: #333;
    font-weight: 500;
    background: #dedede;
    line-height: 40px;
    clear: both;
    margin: 0 0 10px 0;
    border-left: 5px solid #24ac84;
    text-transform: uppercase;
    text-indent: 15px;

}
.content .entry-content {
	padding: 10px 0;
	line-height: 1.5
}
.entry-content table {
	border-collapse: collapse;
	border-spacing: 5px;
}
.content .entry-content li {
	list-style: initial;
    padding: 3px 0;
}
.content .entry-content h1, .content .entry-content h2, .content .entry-content h3 , .content .entry-content h4,
.content .entry-content h5, .content .entry-content h6, .content .entry-content p, .content .entry-content ul,
.content .entry-content ol {
	margin: 0 0 15px;
}
.content .entry-content p {
	line-height: 25px;
}
.content .entry-content span,
.content .entry-content em,
.content .entry-content strong {
	font-size: inherit;
	font-family: inherit;
}
.entry-content .aligncenter{
	display: block;
	margin:	3px auto;
	text-align: center;
}
.content .entry-content table {
    border-collapse: collapse;
}
.content .entry-content table, .content .entry-content td, .content .entry-content th {
    border: 1px solid #ccc;
    padding-left: 10px;
}
.entry-content img {
	max-width: 100%;
	height: auto;
}

/* Related News */
#related-post h3 {
	text-transform: uppercase;
	margin: 6px 0;
}
#related-post ul {
	margin: 0;
	padding: 0;
}
#related-post ul li {
	list-style: square inside;
	color: #666;
	padding: 3px 0;
}
#related-post ul li a {
	color: #444;
}
#related-post ul li a:hover {
	color: #222;
}

/* Archive Page
--------------------------------------------------- */
.new-list {
	margin: 0;
	padding: 0;
}
.news-post{
	overflow: hidden;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #cccccc;
	position: relative;
}
.news-post h2 {
	margin: 0;
	padding: 0;
}
.news-post h2 a {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
}
.news-post .thumb-new {
	float: left;
	margin-right: 10px;
}
.news-post img {
    border: 1px solid #cccccc;  
    width: 210px;
    height: auto;
}
.news-post p {
	padding: 5px 0;
	text-align: justify;
	color: #333333;
	margin: 0;
	font-size: 13px;
}
.news-post .more-link {
	position: absolute;
	bottom: 7px;
	right: 24px;
	color: #333;
	font-weight: 600;
}
.news-post .more-link:hover, .news-post h2:hover a {
	color: red;
}

/* Single Product
--------------------------------------------------- */
.Information {
	padding-bottom: 15px;
	margin-bottom: 5px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.anhspsp {
    width: 42%;
    float: left;
    text-align: center;
}
.anhspsp img {
	width: 100%;
	height: auto;
}	
.thongso {
    width: 55%;
    float: right;
}
.thongso ul {
	border: 1px solid #ccc;
    margin: 0;
    padding: 0;
}
.thongso ul li {
	padding:0;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.thongso ul li:last-child {
	border-bottom: 0;
}
.thongso ul li:nth-child(2n) {
	background: #ECE8E8;
}
.thongso ul li span.left {
	display: block;
	float: left;
	width: 150px;
	padding: 5px 0 5px 10px;
	line-height: 20px;
}
.thongso ul li span.right {
	display: inline-block;
	border-left: 1px solid #ccc;
	float: left;
	padding: 5px 0 5px 10px;
	line-height: 20px;
}
.add_contact {
	overflow: hidden;
}
.add_contact a {
	display: inline-block;
    background: #F3612D;
    color: #fff;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.add_contact a:hover {
	background: #BB3C0F;
}

/* Footer
--------------------------------------------------- */
.layout-footer {
	background: url(images/anh_nen.jpg) 0 no-repeat;
	background-size: cover;
	padding-top: 20px;
}
.layout-footer .wrap {
	background: rgba(61, 61, 61, 0.66);
	padding: 30px 20px 0;
	overflow: hidden;
}
.layout-footer .footer-widgets .wrap {
	background: none;
	margin: 0;
	padding: 0;
}
.layout-footer .footer-widgets{
	float: left;
	width: 54%;
}
.layout-footer .footer-widgets .widget {
	margin-bottom: 10px;
}
.layout-footer .footer-widgets .wrap{
	width: initial;
}
.layout-footer .footer-colum{
	float: right;
	width: 44%;
}
.layout-footer .footer-colum .footer-colum-widget{
	float: left;
	width: 33.33333%;
	padding: 0 1%;
}
.layout-footer .widget-title{
    margin: 0 0 5px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.layout-footer .footer-colum .footer-colum-widget ul li a{
	color: #fff;
	line-height: 25px;
	font-size: 13px;
	font-weight: 500;
}
.layout-footer .footer-colum .footer-colum-widget ul li a:before{
	content: "\f111";
	margin-right: 5px;
	font-size: 8px;
	color: #fff;
	font-family: "fontawesome";
}
.layout-footer .footer-colum .footer-colum-widget ul li ul{
	display: none;
}
.footer-widgets .widget-area {

}
.footer-widgets p {
	color: #fff;
	line-height: 30px;
	margin: 0;
	font-weight: 500;
}
.footer-widgets h4 {
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 600;
}
p#credit-link {
	text-align: right;
	margin: 0;
}
p#credit-link strong {
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 12px;
	line-height: 24px;
}

/* Contact Form
--------------------------------------------------- */
.wpcf7 p {
	line-height: 2;
	overflow: hidden;
}
.wpcf7 label {
	font-weight: 600;
	color: #333333;
	float:left;
	width: 120px;
	margin-right: 6px;
	line-height: 30px;
}
.wpcf7 label span.sao {
	color: #F00;
}
.wpcf7 input[type=text], 
.wpcf7 input[type=email], 
.wpcf7 input[type=tel] {
	width: 250px;
	height: 30px;
	border: 1px solid #cccccc;
	float: left;
	padding: 5px 10px;
}
.wpcf7 textarea{
	width: 250px;
	height: 120px;
	margin-bottom: 7px;
	padding: 5px 10px;
	resize: none;
	border: 1px solid #cccccc;
}
.wpcf7 input[type=submit], .wpcf7 input[type=reset] {
	padding: 3px 10px;
	cursor: pointer;
}
.wpcf7 input[type=submit] {
	margin-left: 126px;
	background: #F3612D;
	color: #FFF;
	font-weight: 600;
	border: none;
}

/* Backtop
--------------------------------------------------- */
#back-top {
    position: fixed;
    bottom: 30px;
    right:20px;
}
#back-top a {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top span {
    width: 45px;
    height: 45px;
    display: block;
    margin-bottom: 7px;
    background: url(images/backtop.png) center no-repeat;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

/* Breadcrumb
--------------------------------------------------- */
.breadcrumb {
	margin: 0 0 10px 0;
	padding: 5px 0;
	color: #333333;
}
.breadcrumb a {
	color: #777;
}
.breadcrumbs{
	background: #dedede;
}
.breadcrumbs span{
	line-height: 35px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	font-weight: 500;
	color: #666666;
}
/* Page navigation
--------------------------------------------------- */
.wp-pagenavi {
    clear: both;
    background: #eeeff1;
    text-align: center;
    padding: 12px 0;
}
.wp-pagenavi a, .wp-pagenavi span {
	border: 1px solid #BFBFBF;
    margin: 2px !important;
    padding: 5px 13px !important;
    text-decoration: none;
    background: #f6f6f6;
}
.wp-pagenavi span.current{
	font-weight: 500;
    background: #24ac84;
    color: #fff;
    border-color: #fff;
}
/* Woocomerce
--------------------------------------------------- */
.add_to_cart {
	margin:5px 0;
	text-align: center;
	position: relative;
	z-index: 9;
}
.cart_totals h2 {
	display: none;
}
.woocommerce-checkout #payment ul.payment_methods li {
	list-style: none;
}

/* css menu mobile 
-------------------------------------------------------------*/
/* secondary-toggle button menu top */
.menu-repons{
    overflow: hidden;
    background: #24ac84;
}
.secondary-toggle {
    background-color: #FFF;
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    height: 35px;
    overflow: hidden;
    padding: 0;
    display: block;
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #333;
    margin: 33px auto 0;
    text-align: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 95%;
}
.secondary-toggle:after {
    color: #333;
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f0c9";
    line-height: 35px;
    width: 40px;
    position: absolute;
    top: 0;
    right: -10px;
}
/*.secondary-toggle.toggled-on:before {
    content: "\f00d";
    font-size: 20px;
}*/
/* dropdown-toggle in ul */
.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: rgba(51, 51, 51, 0.1);
}
.dropdown-toggle {
background-color: transparent;
    border: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    height: 38px;
    width: 42px;
    padding: 0;
    position: absolute;
    text-transform: lowercase;
    top: 5px;
    right: 0;
}
.dropdown-toggle:after {
		color: #fff;
    content: "\f107";
    font-size: 24px;
    line-height: 42px;
    position: relative;
    top: 0;
    font-weight: 500;
    left: 1px;
    width: 42px;
    font: normal normal normal 14px/1 FontAwesome;
}
.dropdown-toggle.toggled-on:after {
    content: "\f106";
}
/* css menu top */
.nav-primary-mobile {
    display: none;
    color: #FFF;
}
.nav-primary-mobile ul {
    margin: 0;
    padding: 0;
}
.nav-primary-mobile li{
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    position: relative;
}
.nav-primary-mobile .nav-menu > ul > li:first-child, 
.nav-primary-mobile .nav-menu > li:first-child {
    border-top: 0;
}
.nav-primary-mobile a {
    display: block;
    padding: 9px 0 9px 10px;
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.nav-primary-mobile ul ul {
    display: none;
    margin-left: 0.8em;
}
.nav-primary-mobile ul .toggled-on {
    opacity: 1;
    visibility:visible;
    display: block;
}
/* menu sidebar */
.sidebar-mobile {
    margin: 0;
    padding: 0;
}
.sidebar-mobile li {
    position: relative;
}
.sidebar-mobile li:first-child {
    border-top: 0;
}
.sidebar-mobile li a {
    display: block;
    padding: 9px 0 9px 10px;
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 23px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: #3d3d3d;
}
.sidebar-mobile li ul li a{
	background: #dedede;
	color: #333;
}
.sidebar-mobile li .dropdown-toggle {
    width: 30px;
    height: 30px;
}
.sidebar-mobile ul {
    display: none;
    border: 0;
}
.sidebar-mobile li .toggled-on {
    opacity: 1;
    visibility:visible;
    display: block;
}
/* css quang cao 2 ben */
.rt-ads-left, .rt-ads-right {
    position: absolute;
}
/**********************/
.slider-home-post{
	clear: both;
	margin-bottom: 30px;
}
.slider-home-post .owl-carousel {
	width: 97%;
	margin: auto;
}
.slider-home-post .owl-carousel .item .img {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 152px;
}
.slider-home-post .owl-carousel .item .img a{
	text-align: center;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    height: 100%;
    background: #fff;
    width: 100%;
    line-height: 0;
    transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -web-transition: all 400ms ease-in-out;
}
.slider-home-post .owl-carousel .item .img a img{
	width: 100%;
	height: 152px;
	object-fit: cover;
} 
.slider-home-post .owl-carousel .item .content-slider-product{
    padding: 10px 0 0 0;
}
.slider-home-post .owl-carousel .item .content-slider-product h2{
	margin: 0;
}
.slider-home-post .owl-carousel .item .content-slider-product h2 a{
	color: #333;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	display: block;
	max-height: 44px;
	overflow: hidden;
}
/*************************/
.row-box-colum-home{
	overflow: hidden;
	clear: both;
}
.row-box-colum-home .box-colum-left{
	float: left;
	width: 350px;
}
.row-box-colum-home  .box-colum-right{
	float: right;
	width: calc(100% - 350px - 20px);
}
.row-box-colum-home  .box-colum-right .recruitment-colum{
	float: left;
	width:460px;
}
.recruitment-widget{
	float: right;
    width: calc(100% - 460px - 25px);
    border: 1px solid #e5e5e5;
    margin-top: 33px;
}
.title-recuiment{
	margin: 0;
	border-bottom: 3px solid #3d3d3d;
}
.title-recuiment a{
	display: inline-block;
	background: #3d3d3d;
	min-width: 170px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
}
.list-file{
	overflow: hidden;
	padding: 5px 0;
}
.list-file span{
	float: left;
	width: 33.3333%;
	text-align: center;
}
.list-file span i{
	margin-right: 5px;
}
.list-file span a{
	color: #333;
	font-weight: 600;
	font-size: 13px;
	line-height: 35px;
}
.recruitment-widget .widget-title{
	margin: 0;
	line-height: 40px;
	background: #3d3d3d;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}
.row-box-colum-home  .box-colum-right .recruitment-colum .box-pading{
    padding: 15px 15px 23px;
    background: #f3f3f3;
    overflow: hidden;
}
.row-box-colum-home  .box-colum-right .recruitment-colum .recruitment-box-left{
    float: left;
    width: 175px;
    margin-top: 5px;
}
.row-box-colum-home  .box-colum-right .recruitment-colum .recruitment-box-right{
	float: right;
	width: calc(100% - 175px - 10px);
}
.row-box-colum-home  .box-colum-right .recruitment-colum .recruitment-box-right .list-post a{
	color: #052f61;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	max-height: 20px;
	display: block;
	overflow: hidden;
}
.row-box-colum-home  .box-colum-right .recruitment-colum .recruitment-box-right .list-post a:before{
    content: "\f04d";
    margin-right: 5px;
    font-size: 8px;
    color: #052f61;
    font-family: "fontawesome";
}
.row-box-colum-home  .box-colum-right .recruitment-colum .recruitment-box-right .description{
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    max-height: 57px;
    overflow: hidden;
    margin-bottom: 4px;
}
.box-colum-left .tabDetails{
	padding: 10px 10px 0;
	border: 1px solid #ccc;
}
.tab-one{
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 3px solid #24ac84;
}
.tab-one li{
	float: left;
	width:50%;
	text-align: center;
}
.tab-one li a{
	display: block;
	line-height: 35px;
	color: #333;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	background: #eeeeee;
}
.tab-one li a.active{
	background: #24ac84;
	color: #fff;
}
.box-colum-left .xemthem{
	background: #24ac84;
	text-align: center;
}
.box-colum-left .xemthem a{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 35px;
}
/*******************/
.logo-slider{
	overflow: hidden;
	clear: both;
	margin-bottom: 30px;
}
.logo-slider .widget-title{
    margin: 0 0 10px 0;
    background: url(images/headings.png)center repeat-x;
    text-align: center;
}
.logo-slider .widget-title span{
	display:inline-block;
	background: #fff;
	padding: 0 10px;
	line-height: 30px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
}
/***************************/
.list-post-news{
    padding: 0;
    margin: 0 0 30px 0;
    overflow: hidden;
}
.xemtatca {
    display: block;
    clear: both;
    overflow: hidden;
    text-align: right;
    padding-top: 10px;
}
.xemtatca a{
    color: #fff;
    display: inline-block;
    background: #33b28d;
    text-transform: uppercase;
    font-weight: 500;
    padding: 9px 24px;
    font-size: 15px;
    border-radius: 5px;
}
.list-post-news .news-list-one{
	float: left;
    width: 40.3%;
    margin-top: 5px;

}
.list-post-news .news-list-one .thumb-new{
	display: block;
	line-height: 0;
}
.list-post-news .news-list-one .thumb-new img{
	width: 100%;
	height: 225px;
	object-fit: cover;
}
.list-post-news .news-list-one h2{
	margin: 10px 0 0 0;
}
.list-post-news .news-list-one h2 a{
	color: #333;
	font-size: 17px;
	font-weight: 600;
	line-height: 24px;
	max-height: 48px;
	display: block;
	overflow: hidden;
}
.list-post-news .related-news-tow{
	float: right;
	width: calc(100% - 40.3% - 20px );
	margin-bottom: 15px;
}
.list-post-news .related-news-tow .img-thumb{
    float: left;
    width: 24.6%;
    margin-top: 5px;
}
.list-post-news .related-news-tow .img-thumb a{
	display: block;
	line-height: 0;
}
.list-post-news .related-news-tow .img-thumb a img{
	width: 100%;
	height: 70px;
	object-fit: cover;
}
.list-post-news .related-news-tow .cnt-content{
	float: right;
	width: calc(100% - 24.6% - 10px);
}
.list-post-news .related-news-tow .cnt-content h2{
	margin: 0;
}
.list-post-news .related-news-tow .cnt-content h2 a{
	color: #333;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	max-height: 40px;
	display: block;
	overflow: hidden;
}
.list-post-news .related-news-tow .cnt-content p{
	margin: 0;
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
	line-height: 20px;
	max-height: 40px;
	overflow: hidden;
}
/*****************/
.list-post-cate-chuyennganh{
	overflow: hidden;
	clear: both;
}
.list-post-cate-chuyennganh .item-post-duan{
    float: left;
    width: 31.36%;
    margin: 0 2.95% 25px 0;
}
.list-post-cate-chuyennganh .item-post-duan .img-posts .thumb-new-img{
	display: block;
	line-height: 0;
}
.list-post-cate-chuyennganh .item-post-duan .img-posts .thumb-new-img img{
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.list-post-cate-chuyennganh .item-post-duan .content-duan{
	padding: 10px 0 0 0;
}
.list-post-cate-chuyennganh .item-post-duan .content-duan h2{
	margin: 0 0 5px 0;
}
.list-post-cate-chuyennganh .item-post-duan .content-duan h2 a{
	color: #333;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 22px;
	height: 44px;
	display: block;
	overflow: hidden;
}
.list-post-cate-chuyennganh .item-post-duan .content-duan p{
	margin: 0 0 6px 0;
	font-size: 13px;
	line-height: 20px;
	max-height:40px ;
	overflow: hidden;
}
.list-post-cate-chuyennganh .item-post-duan .chitiet a{
	color: #007e59;
	font-size: 13px;
	font-weight: 600;
}
.list-post-cate-chuyennganh .item-post-duan:nth-child(3n){
	margin-right: 0;
}
.list-post-cate-chuyennganh .item-post-duan:nth-child(3n+1){
	clear: both;
}
/******************/
.page-lien .content{
	width: 100%;
}
.page-lien .sidebar {
	display: none;
}
.form-lienhe{
	overflow: hidden;
}
.form-lienhe .form-left{
	float: left;
	width: 48%;
}
.form-lienhe .form-right {
	width: 48%;
	float:right;
}
.form-lienhe input[type=text],
.form-lienhe input[type=email],
.form-lienhe input[type=tel],
.form-lienhe select{
    background: #d1d1d1;
    color: #6c6c6c;
    border: solid 1px #c0c0c0;
    display: block;
    width: 100% !important;
    height: 40px;
    font-size: 14px;
    line-height: 1.42857143;
}
.wpcf7 textarea{
	width: 100%;
    height: 260px;
	background: #d1d1d1;
    color: #6c6c6c;
    border: solid 1px #c0c0c0;
}
.wpcf7 input[type=submit]{
    margin: 0;
    background: #d9534f;
    border-radius: 6px;
    width: 75px;
    height: 30px;
}
/************************/
/*.tab-content-slider{
	height: 600px;
}*/
.tab-content-slider{
	margin-bottom: 30px;
}
/***************/
.content-slider .content-slider-ss {
	position: relative !important;
    top: inherit !important;
    left: inherit !important;
    float: right;
    width: calc( 100% - 80px - 10px ) !important;
    color: #000 !important;
    font-size: 13px;
    line-height: 20px !important;
    max-height: 40px !important;
    height: inherit !important;
    display: block;
    overflow: hidden;
    text-align: left !important;
    font-weight: 500 !important;
}
.img-slider .tp img {
    float: left;
    width: 80px;
}
/*****************/
.content-date-time{
	overflow: hidden;
	margin-top: 15px;
}
.content-date-time .date-time{
	float: left;
	width: 100px;
	text-align: center;
	border-right: 1px solid #ccc;
}
.content-date-time .date-time span{
	display: block;
}
.content-date-time .date-time span.time{
	color: #043061;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;

}
.content-date-time .date-time span.date{
	color: #043061;
	font-size: 16px;
	font-weight: 600;
	margin-top: 5px;
}
.content-date-time .title-description{
	float: right;
	width: calc(100% - 100px - 15px);
}
.content-date-time .title-description p{
	margin: 5px 0 0 0;
	font-size: 13px;
	line-height: 20px;
	max-height: 40px;
	overflow: hidden;
}
.content-date-time .title-description a{
	color: #043061;
	font-weight: 600;
	font-size: 17px;
}
#flags ul {
	padding-left: 0px;
}

.site-footer {
	display: none;
}
